@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #E6EFFD
    ;
    padding: 0 20px;
    
}
.card-main-container {
    max-width: 310px;
    font-family: 'Montserrat', sans-serif;
}
.title-container h3 {
      font-size: 17px;
    font-weight: 600;
    color: #004884;
    margin-top: 20px;
    margin-bottom: 10px;
    padding:20px 0 ;
    border-bottom: 1px solid #DCDCDC; 
}
.card-info-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #DCDCDC; 
}
.card-main-container h4 {
    font-size: 15px;
    font-weight: 700;
    color: #004884;
    margin-bottom: 20px;
    

}
.card-main-container p {
    margin:  5px 0;
    font-size: 13px;
    font-weight: 400;
    color: #004884;

}.card-main-container p span {
    font-size: 13px;
    font-weight: 400;
    color: #4B4B4B;
    margin-left: 5px;

}

.card-main-container a p {
    margin-top: 10px;
    text-decoration: ;
    font-size: 12px;
    font-weight: 500;
    color: #3366CC;
    border: 1px solid #3366CC;
    max-width: 145px;
    padding: 6px ;
    border-radius: 50px;

}
.card-main-container2 {
    max-width: 310px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DCDCDC; 
}
.card-main-container2 h4 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    color: #4B4B4B;

}
.card-main-container2 h4 span {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 600;
    margin-right: 5px;

}
.card-main-container2 p {
   
    font-size: 15px;
    font-weight: 400;
    margin-right: 5px;
    line-height: 23px;

}
.card-main-container2 p span {
   
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
    line-height: 23px;
    background-color: #D1FFE3
    ;

}
.card-main-container3 {
    max-width: 310px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DCDCDC; 
}
.card-main-container3 h4 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    color: #4B4B4B;
    padding: 20px 0;

}