main .main-navbar-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
main .browser-home {
    padding: 5px;
    display: inline-flex;
}
main .main-navbar-logo {
    display: inline-flex;
    justify-content: start;
    margin-right: 20px;
    margin-left: 20px;
}
main .browser-home {
    margin: 5px ;
    display: inline-flex;
    width: 100%;
}
.container-num-results{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}