main .main-navbar-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    padding-bottom: 7px;
}
main .search-save-span {
    display: none;
}
.search-save-span-fs {
    margin-right: 40px;
    display: flex;
    justify-content: flex-end;
    width: 15%;
    align-items: stretch;
}
main .market-icon-fs {
    display: inline-flex;
    margin: 7px;
}
main .search-save-span-fs a {
    margin-top: 24px;
    display: inline-flex;
    font-size: 14px;
    color: #3366CC;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
main .main-navbar-logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 75px;
}
main .search-div-home {
    display: block;
    width: 528px;
}
main .search-span-home .search-input-span {
    width: 100%;
}

