* {
    margin:  0;
    padding: 0;
  }
.header-home {
    background-color: #3366CC;
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.header-home span {
    margin-right: 5%;
}
.contenedor__footer{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
}
.footer-titulo {
    color: #2A2D82;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
}