main .search-section-home {
    width: 80%;
}
main .search-span-home input {
    font-size: 2vw;
}
main .drag-documents-div p, a {
    font-size: 1.5vw;
}
main .search-button-home button {
    font-size: 1.5vw;
}
main .drag-text-div p {
    font-size: 1.2vw;
}
main .drag-text-div a {
    font-size: 1.2vw;
}